.login-form{
    background-color: #6429CD;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    min-width: 300px; 
    height: 300px;
    border-radius: 5px;
    padding: 20px;
    font-family: 'Roboto Serif', serif;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}

.login-form img{
    width: 50px;
}

.login-form input{
    width: 70%;
    height: 30px;
    border-radius: 5px;
    border: solid 2px white;
    background-color: white;
    padding: 4px;
    cursor: pointer;
}

.login-button{
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif !important;
    color: #6429CD !important;
    font-weight: bold !important;
    width: auto;
    padding: 5px;
    height: 30px;
    font-size: 15px;
    font-family: 'Roboto Serif', serif;
    cursor: pointer;
    border: none;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
    border-radius: 10px;
}

.login-form input[type="text"]{
    font-family: 'Source Sans Pro', sans-serif;
}

.login-form input:focus{
    border-color: blue;
    outline-offset: 0px !important;
    outline: none !important;
}