.class-list-item{
    background-color: #6F2FD3;
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    margin-left: 10%;
}

.class-list-item:hover{
    transform: translate(5px,-5px);
}

.class-text-data{
    display: flex;
    gap: 20px;
}