.course-list-item{
    background-color: #F6F7FC;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 50px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.course-list-item:hover{
    transform: translate(5px,-5px);
}

.course-list-item img{
    border-radius: 15px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}