.admin-container{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: 'Roboto Serif', serif;
    gap: 50px;
 }

 .admin-menu{
    display: flex;
    width: 100%;
    justify-content: space-between;
 }

 .admin-option{
    background-color: #6429CD !important;
    font-family: 'Source Sans Pro', sans-serif !important;
    color: white;
    width: auto;
    text-align: center;
    padding: 8px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
    border: none;
    font-family: 'Roboto Serif', serif;
    background-color: #F4F4F4;
    transition: 0.5s ease-in-out;
    cursor: pointer;
 }

 .admin-option:hover{
    transform: translate(5px, -5px);
 }