nav{
    background-color: #6429CD;
    box-shadow: 0px 15px 10px -15px #111;
}

nav div{
    display: flex;
    justify-content: space-between;
    color: black;
    padding: 0 10px;
}

ul{
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

img{
    width: 250px;
}

li{
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: white
}

.logout{
    width: 30px;
    cursor: pointer;
}

.header-image{
    width: 200px;
    margin: 20px;
}