 .course-container{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: 'Roboto Serif', serif;
    gap: 50px;
 }
 .course-toggle{
   background-color: #6924CD;
   color: white;
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: bold;
   height: 120px;
   width: 100%;
   padding: 10px;
   font-size: 60px !important;
   border-radius: 5px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   transition: 0.5s ease-in-out;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;   transition: 0.5s ease-in-out;
 }
.course-toggle:hover{
   transform: translate(5px,-5px);
   border: solid 2px black;
}